.small-pic{
    float: left;
    position: relative;
}

.small-pic img{
    width: 400px;
    object-fit: contain;
}

.large-pic{
    width: 400px;
    height: 300px;
    float: left;
    display: none;
    overflow: hidden;
    position: relative;
}

.large-pic img {
    position: absolute;
    margin: 0 auto;
}

.select-frame {
    width: 100px;
    height: 100px;
    background-color: skyblue;    
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.text-info{
    text-align: center;
    padding-top:50px;
    position: relative;
    min-height: 400px!important;
}
.imgPreview {
  text-align: center;
}
.imgPreview img {
    width: 100%;
    height: 100%;
  }

.form-upload{
    background: #d3e0e2;
    margin-bottom: 10px;
}

.inputurl-bar{
    background-color: transparent;
    margin: 20px 5px;
    padding: 5px;
    border: none;
    border-bottom: solid 2px #b5bdbd;
    transition: border 0.3s;
    font-weight: bold;
    color: #b5bdbd;
}
.inputurl-bar::placeholder {
    color: #b5bdbd;
}
.inputurl-bar:focus{
    outline:none;
    color: #181810;
    border-bottom: solid 2px #181810;
}